#esqueceu:hover{
    color: rgba(57, 146, 255, 0.8);

}

#esqueceu{
    border: none;
    background-color: rgba(57, 146, 255, 0);
    font-size: 14px;
}

#entrar{
    border: none;
    background-color: rgba(92, 160, 62, 1);
    color: white;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

body{
    background-color: rgba(228, 228, 228, 0.418);
}