*{
    font-size: 15px;
}

ul li {
    list-style-type: none;
    padding-right: 14px;
    display: inline-block;
    font-size: 15px;
}

header{
    background-color: rgba(93, 157, 179, 1);
    color: white;
    border-radius: 5px;
    margin-top: 5px;
}

a {
    color: white;
    text-decoration: none;
}

#btn-sair:hover {
    color: black;
}

#propostas p{
    display: inline-block;
}

#botoes button{
    height: 70px;
    background-color: rgb(125, 181, 255);
    color: white;
    font-size: 15px;
    border: none;
}

#botoes{
    margin-bottom: 15px;
}